@use "../assets/styles/mixins" as mixin;

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .backgroundImg {
    min-height: 100%;
    min-width: 1024px;
    // width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 30%;
  }

  .userimg {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -80px;

    @include mixin.xs {
      width: 120px;
      height: 120px;
      margin-top: -70px;
    }
  }

  .loginForm {
    width: 100%;
    max-width: 420px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    align-items: center;
    @include mixin.xs {
      width: 90%;
      height: 90%;
    }

    .userName {
      font-size: 25px;
      text-align: center;
      color: white;
    }
    .userStatus {
      font-size: 20px;
    }

    .btnConnection {
      width: 50%;
      font-weight: bold;
      font-size: 15px;
      margin: 20px 20px;
    }

    .deleteLink {
      color: white;
      font-weight: 900;
      font-size: 17px;
      margin: 0;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .homeIcon {
      color: var(--primary);
      font-size: 20px;
      position: absolute;
      padding: 8px;
      left: 10px;
      top: 10px;
    }
    .homeIcon:hover {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
    }
  }
}
