@use "../assets/styles/mixins" as mixin;

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;

  .backgroundImg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 30%;
  }

  .logo {
    width: 50%;
    margin: auto;
  }

  .container {
    .signupForm {
      width: 420px;
      min-height: 350px;
      display: flex;
      flex-direction: column;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      position: relative;

      @include mixin.xs {
        width: 300px;
      }
      .title {
        font-size: 25px;
        text-align: center;
        color: white;
      }

      .signinInput {
        padding: 10px;
        border-radius: 5px;
        border: none;
        width: 90%;
        margin: auto;
      }

      .errorBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5px;
        height: 20px;
        text-align: center;
        color: white;

        @include mixin.xs {
          font-size: 14px;
        }
      }

      .btnSignin {
        width: 50%;
        margin: auto;
        font-weight: bold;
        font-size: 15px;
      }
      .link {
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
